body
{
    background-color: rgb(51, 51, 51);
    color: beige;
}

p
{
    color:deepskyblue;
}

header
{
    text-align: center;
}

h1
{
    color:rgb(200, 211, 211);
    text-align: center;
}
h2
{
    color: beige;
    text-align: left;
}
img
{
    max-width: 640px;
    max-height: 480px;
}
#memeImage
{
    margin-right: 200px;
}
#boards
{
    display: block;
    float: left;
    padding: 5px;
    line-height: 30px;
    height: 6000px;
    width: 200px;
}
footer
{
    text-align: center;
    margin-right: 200px;
}


#navBar {
    background-color:lightslategray;
    
}
#navi {
    background-color: rgb(51, 51, 51);
}

.navContainer {
    float:right;
    text-align: right; /* Align the content to the right within the container */
    padding-right: 20px; /* Add padding to the right to create space */
}

#navBar a:visited {
    color:coral; /* Set the color for visited links */
}